<footer class="bg-dark">
	<div class="container">
		<div class="row pb-3">
			<div class="col-sm-10">
				<p class="text-light">
					<span class="i18n innerHTML-by">By: <a href="https://github.com/flashcarts" class="link">flashcarts.net contributors</a></span>
					<br>
					<span class="i18n innerHTML-published-with" data-repo="{{ site.repo }}">Published with <a href="https://pages.github.com">GitHub Pages</a>, view <a href="https://github.com/{{ site.repo }}">the source</a> on GitHub.</span>
				</p>
			</div>
			<div class="col-sm-2">
				<label for="themeSelector" class="text-light i18n innerHTML-color-scheme">Color scheme:</label>
				<select id="themeSelector" class="form-select form-select-dark text-light" onchange="setTheme(value)">
					<option value="default" class="i18n innerHTML-default">Default</option>
					<option value="dark" class="i18n innerHTML-dark">Dark</option>
					<option value="light" class="i18n innerHTML-light">Light</option>
				</select>
			</div>
		</div>
	</div>
</footer>
