// Main contents
$main-bg: #fff !default;
$main-color: #222 !default;
$secondary-bg: #e9e9e9 !default;
$header-color: #222 !default;
$borders: #bbb !default;
$borders-hover: #666 !default;
$borders-hover-color: #fff !default;
$light-borders: #dee2e6 !default;
$blockquote-color: #666 !default;
$code-bg: #ccc6 !default;
$code-color: #333 !default;
$code-light: #999 !default;
$a-color: #0366d6 !default;
$small-color: gray !default;
$textarea-bg: #fff !default;
$textarea-color: #000 !default;
$carousel-caption-bg: #fffb !default;
$table-alt-bg: #f3f3f3 !default;
$kbd-bg: #fafafa !default;
$kbd-border: #ddd !default;
$alert-secondary-bg: #e9e9e9 !default;
$alert-secondary-border: #bbb !default;
$details-bg: #f9f9f9 !default;
$active-accordian-bg-color: #fcfcfc !default;
$active-accordian-header-color: #0c63e4 !default;
$active-accordian-header-bg-color: #e7f1ff !default;

// Cards
$card-background: $main-bg !default;
$card-edges-background: rgba(0,0,0,.03) !default;

// Modal
$modal-borders: 1px solid #dee2e6 !default;

// Nav
$nav-link-color: rgba(255, 255, 255, 0.7) !default;
$nav-link-color-hover: rgba(255, 255, 255, 0.5) !default;
$nav-link-color-active: rgba(255, 255, 255, 1) !default;
$dropdown-item-bg-hover: rgba(0, 0, 0, 0.3) !default;
$primary: null !default;
$dark: #343a40 !default;
$dark-always: #343a40 !default;
$light: #f8f9fa !default;
$light-border: #ced4da !default;
$light-placeholder: darkgray !default;
$light-disabled: #e9ecef !default;
