---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" dir="ltr">
{% include head.html%}

<body>
	<div class="content">
		{% include nav.html %}

		<main>
			{% include modal.html %}

			<div class="container-fluid">
				<div class="row pt-5">
					<div class="col-12 main-content mx-auto">
						{{ content }}

						{% if page.description %}
							<div class="alert alert-secondary mb-4 i18n innerHTML-catdesc-{{ page.category }}">
								{{ page.description | escape }}
							</div>
						{% endif %}
						
						{% if page.system %}
							<div class="d-none">
								{% include script-show.html %}
								<div class="mb-3">
									<span class="i18n innerHTML-sort">Sort:</span>
									<button id="sort-title" class="btn btn-outline-secondary i18n innerHTML-title" onclick="sort('title')">Title</button>
									<button id="sort-creator" class="btn btn-outline-secondary i18n innerHTML-creator" onclick="sort('creator')">Creator</button>
									<button id="sort-description" class="btn btn-outline-secondary i18n innerHTML-description" onclick="sort('description')">Description</button>
									<button id="sort-direction" class="btn btn-outline-secondary float-end i18n innerHTML-ascending data-ascending-ascending data-descending-descending" onclick="toggleSortDirection()" data-ascending="Ascending" data-descending="Descending">Ascending</button>
								</div>
								<div class="input-group mb-3">
									<label for="search" class="input-group-text i18n innerHTML-search">Search:</label>
									<input id="search" class="form-control i18n placeholder-search-by-title-desc" type="text" placeholder="Search by title or description" onkeyup="search(event.srcElement.value);" accesskey="/">
								</div>
							</div>
						{% endif %}
						
						{% if page.system == "card" %}
							{% assign cards = site.card %}
						{% elsif page.title == "Home" %}
							{% assign temp = site.card %}
							{% for item in temp %}
								{% assign id = item.creator | append: item.title %}
								{% unless existing contains id %}
									{% assign id = id | split: "////////" %}
									{% assign existing = existing | concat: id %}
									{% assign t = temp | where_exp: "i", "i == item" %}
									{% assign cards = cards | concat: t %}
								{% endunless %}
							{% endfor %}
						{% endif %}

						{% assign cards = cards | sort: "title" %}

						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4" id="card-container">
							{% for app in cards limit: page.limit %}
								{% if page.category == Nil or app.categories contains page.category %}
									<div class="col mb-3 {% if page.limit == 4 and forloop.index == 4 %}d-md-none d-xl-block{% endif %}">
										<div class="card h-100" data-title="{{ app.title | escape}}" data-creator="{{ app.creator | escape}}" data-description="{{ app.description | escape }}">
											<a class="flex-grow-1" href="{{ app.url | remove: ".html" }}">
												{% if app.images.size > 0 %}
													<div class="card-header card-image-header">
														<img class="card-image" src="{{ app.images[0].url }}" alt="{{ app.images[0].description | default: app.title | escape }}" loading="lazy">
													</div>
												{% endif %}
												<div class="card-body" dir="ltr">
													<div>
														<h4 class="card-title text-center {% if app.creator %}mb-0{% endif %}">{{ app.title | escape }}</h4>
														{% if app.creator %}
															<small class="d-block text-center mb-3">{{ app.creator }}</small>
														{% endif %}
														<p class="card-text">{{ app.description | escape }}</p>
													</div>
												</div>
											</a>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}

	{% include common-js.html %}
	<script src="/assets/js/search.js"></script>
	<script src="/assets/js/modal.js"></script>
	{% if page.system %}
		<script src="/assets/js/sort.js"></script>
	{% endif %}
</body>
</html>